.msTipsy .tipsy-inner { color: white; background-color: #555; }
.msTipsy .tipsy-arrow-n { border-bottom-color: #555; }
.msTipsy .tipsy-arrow-s { border-top-color: #555; }
.msTipsy .tipsy-arrow-e { border-left-color: #555; }
.msTipsy .tipsy-arrow-w { border-right-color: #555; }

.metaslider .highlight {
	background: #f1f1f1;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#ececec), to(#f9f9f9));
	background-image: -webkit-linear-gradient(bottom, #ececec, #f9f9f9);
	background-image: -moz-linear-gradient(bottom, #ececec, #f9f9f9);
	background-image: -o-linear-gradient(bottom, #ececec, #f9f9f9);
	background-image: linear-gradient(to top, #ececec, #f9f9f9);
}
.metaslider .ui-sortable-helper {
	box-shadow: 3px 3px 5px #cccccc;
}
.metaslider tr.slide .new_window {
	position: relative;
	float: right;
	font-size: 10px;
	padding: 0px 3px;
	color: #a9a9a9;
}
.metaslider tr.slide .new_window label {
	position: absolute;
	width: 78px;
	right: 0;
	top: -30px;
}
.metaslider tr.slide .new_window label input {
	margin: 1px 0 0 4px;
	margin-bottom: 0;
}
.metaslider .shortcode {
	width: 100%; 
	margin-top: 20px;

}
.metaslider .shortcode input {
	width: 100%; 
	font-size: 0.9em;
	background: transparent;
	border: 0;
}
.metaslider .shortcode td {
	border-bottom: 0;
	border-top: 0;
	font-size: 0.9em;
}
.metaslider .nav-tab,
.metaslider h2.nav-tab-wrapper {
	font-size: 13px;
}
.metaslider .nav-tab-active input {
	padding: 0; 
	margin: 0; 
	border: 0; 
	width: 100px; 
	font-size: 13px;
}
.metaslider .left {
	width: 68%; 
	margin-top: 20px; 
	float: left; 
	clear: none;
}
.metaslider .right {
	width: 30%; 
	float: right; 
	margin-top: 20px; 
	clear: none;
}
.metaslider table.slides td {
	border-bottom: 0;
	border-top: 0;
	background: #f9f9f9;
	cursor: move;
	padding: 5px 10px 5px 10px;
}
.metaslider table.slides td.col-1 {
	padding: 10px 10px 0 10px;
}
.metaslider table.slides td.col-2 {
	padding: 10px 10px 0 0;
}
.metaslider table.slides tr:last-child td {
	padding-bottom: 10px;
}
.metaslider .unsaved {
	float: right;
	background: #ff3019; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
	color: white;
	padding: 1px 9px;
	border-radius: 3px;
	margin-top: 2px;
	font-weight: bold;
	font-size: 1em !important;
	text-rendering: optimizeLegibility;
	margin: 2px 10px;
}
.metaslider tr.slide {
	background-color: #f9f9f9;
}
.metaslider tr.slide textarea {
	width: 100%;
	height: 75px;
	margin-bottom: 5px;
}
.metaslider tr.slide input {
	margin-bottom: 10px;
}
.metaslider tr.slide input.alt,
.metaslider tr.slide input.url {
	width: 100%;
}
.metaslider .delete-slide {
	position: relative; 
	top: 0px; 
	left: 0px; 
	background: #EE2C2C; 
	color: white; 
	width: 16px; 
	height: 16px; 
	float: left; 
	text-align: center;
	display: none;
}
.metaslider tr.slide td.col-1:hover .delete-slide {
	display: block;
}

.metaslider .slider-wrap {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	width: 100%;
	float: left;
}

.metaslider .slider-lib {
	float: left;
	width: 23%;
	margin: 1%;
	list-style-type: none;
	text-align: center;
}

.metaslider .tooltip {
	font-size: 0.9em;
}

.metaslider .settings td {
	font-size: 0.9em;
	vertical-align: middle;
	padding: 3px 0px 3px 6px;
	border-bottom: 0;
}

.metaslider .slider-lib label {
	color: white;
	border-radius: 10%;
	float: left;
	width: 100%;
	padding: 10px 0px;
	vertical-align: bottom;
}

.metaslider .slider-lib.nivo label {
	background: #b6e026; /* Old browsers */
	background: -moz-linear-gradient(top,  #b6e026 0%, #abdc28 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b6e026), color-stop(100%,#abdc28)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b6e026 0%,#abdc28 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b6e026 0%,#abdc28 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b6e026 0%,#abdc28 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b6e026 0%,#abdc28 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6e026', endColorstr='#abdc28',GradientType=0 ); /* IE6-9 */
}
.metaslider .slider-lib.flex label {
	background: #00b7ea; /* Old browsers */
	background: -moz-linear-gradient(top,  #00b7ea 0%, #009ec3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #00b7ea 0%,#009ec3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
}

.metaslider .slider-lib.coin label {
	background: #ffd65e; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffd65e 0%, #febf04 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd65e), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffd65e 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffd65e 0%,#febf04 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffd65e 0%,#febf04 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffd65e 0%,#febf04 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 ); /* IE6-9 */
}

.metaslider .slider-lib.responsive label {
	background: #959595; /* Old browsers */
	background: -moz-linear-gradient(top,  #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#959595), color-stop(46%,#0d0d0d), color-stop(50%,#010101), color-stop(53%,#0a0a0a), color-stop(76%,#4e4e4e), color-stop(87%,#383838), color-stop(100%,#1b1b1b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */
}

