.metaslider .flexslider,
.metaslider .flexslider ul,
.metaslider .flexslider .slides li,
.metaslider .flexslider .slides ul,
.metaslider .flexslider .slides ol,
.metaslider .flexslider .flex-direction-nav,
.metaslider .rslides li,
.metaslider .rslides .rslides_tabs {
  border: 0;
	margin: 0;
	list-style-type: none;
}
.metaslider .flexslider .slides p {
	margin: 0;
}
.metaslider .flexslider .flex-control-nav {
  position: inherit;
  bottom: auto;
}
.metaslider .rslides_tabs {
  margin: 0;
  padding: 7px 0 !important;
  background: #333;
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.metaslider .rslides_tabs li {
  margin: 0;
  padding: 0;
  display: inline;
  float: none;
  margin-right: 1px;
  list-style-type: none;
}
.metaslider .rslides_tabs a {
  text-decoration: none;
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}
.metaslider .rslides_tabs a:hover {
  border: 0;
  color: white;
}

.metaslider .rslides_tabs li:first-child {
  margin-left: 0;
}
.metaslider .rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.metaslider-responsive {
	position: relative;
}
.metaslider .rslides_nav {
	background-color: #000000; 
	color: #FFFFFF; 
	padding: 0px 10px; 
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.metaslider .rslides_nav.prev {
	left:0px;
}
.metaslider .rslides_nav.next {
	right:0px;
}